.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
    
.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburger {
    background-image: url(../img/MenuAberto.svg);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__texto, .container__titulo
, .opcoes, .container__botao {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 1.5em;
    }


    .cabecalho__menu-hamburger {
        display: none;
    }

    .container__titulo {
        display: block;
        font-size: 30px;
        font-family: var(--fonte-segundaria);
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        text-transform: uppercase;
    }

    .opcoes__item {
        color: var(--preto);
        margin: 0 1.5em;
        padding: 1.6em 0.5em;
    }

    .opcoes__link {
        padding: 1em 0;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
        border: 1px solid var(--preto);
        border-top: none;
        box-sizing: border-box;
    }

    .opcoes__botao {
        display: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: white;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin: 0 auto 0 2em;
    }

    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
        font-size: 20px;
    }

}